<html>
    <head>
        <style>
            .icon { padding-left: 20px; background-repeat: no-repeat; line-height: 20px; }
        </style>
    </head>
    <body>

        <p><img src="{{ STATIC_URL }}icons/thumb_up.png"></p>

        {% load icons %}

        <p><a href="/login/" {% icon 'door_in' %}>Login</a></p>
        <h2 {% icon 'user' %}>Username</h2>
        <p>Please subscribe to our <span {% icon 'feed' %}>RSS feed</span>.</p>

        <ul><li {% listicon 'bullet_picture' %}>Item</li></ul>

    </body>
</html>
